.container {
  flex: 1 1 0px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  width: 90%;
}

input {
  height: 1rem;
  width: 91%;
  border-radius: 0.2rem;
  padding: 0.8rem 0.4rem;
  background-color: rgb(215, 189, 184);
}

form div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.3rem;
  position: relative;
}

form section {
  display: flex;
  gap: 0.7rem;
}

.name {
  flex: 1 1 0px;
}

.email {
  flex: 1 1 0px;
}

.subject input{
  width: 95.6%;
}

button {
  text-align: center;
  height: 45px;
  font-size: 1.2em;
  font-weight: 600;
  overflow: hidden;
  max-width: fit-content;
  border-radius: 0.2rem;
  border: none;
  transition: all 0.3s ease-in-out;
  padding: 0 1.5rem;
  cursor: pointer;
  background-color: var(--orange);
  text-transform: uppercase;
  margin-top: 1rem;
  margin-right: auto;
  color: var(--black);
}

textarea:focus {
  border: 1px solid rgb(0, 191, 111);
}

textarea {
  height: 5rem;
  width: 96%;
  padding: 0.8rem 0.4rem;
  border: none;
  border-radius: 0.2rem;
  resize: none;
  background-color: rgb(215, 189, 184);
}

button:disabled,
button:disabled:hover,
button:disabled:active {
  background-color: rgba(215, 189, 184, 0.66);
  color: #292929;
  border-color: #ccc;
  cursor: not-allowed;
}

.message-label {
  margin-bottom: 1rem;
}

.error-text {
  color: var(--orange);
  position: absolute;
  bottom: -2.7rem;
  margin-left: 0.2rem;
}

.container h1 {
  margin-right: auto;
}
