.navigation {
  padding: 1vh 2rem 0;
  height: 9vh;
  display: flex;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  z-index: 100;
  border-radius: 4rem;
  padding: 0 1.3rem;
  background-color: rgba(60, 63, 67, 0.605);
  box-shadow: 0 6px 15px 0 rgba(129, 129, 129, 0.07);
  height: 4rem;
  margin-top: auto;
}

nav div:nth-child(1) {
  margin-right: auto;
}

ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}

a {
  text-decoration: none;
  color: var(--lightBeige);
  font-weight: 600;
}

a span {
  padding: 0.4rem 1rem;
  border-radius: 4rem;
  transition: all 0.3s;
  cursor: pointer;
}

a span:hover {
  background-color: var(--orange);
  color: var(--black);
}
