.navigation {
  padding: 1vh 2rem 0;
  height: 9vh;
  display: flex;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  z-index: 100;
  border-radius: 4rem;
  padding: 0 1.3rem;
  background-color: rgba(152, 133, 134, 0.871);
  box-shadow: 0 6px 15px 0 rgb(0 0 0 / 7%);
  height: 4rem;
  margin-top: auto;
}

nav div:nth-child(1) {
  margin-right: auto;
}

ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}

li a {
  text-decoration: none;
  color: rgb(63, 62, 65);
  font-weight: 600;
}

li {
  padding: 0.3rem 1rem;
  border-radius: 4rem;
  transition: all 0.3s;
  cursor: pointer;
}

li:hover {
  background-color: rgb(215, 189, 184);
}


